{% extends "layout.html" %}
{% block content %}

<div class="container">

    <div class="row float-element">
        <div class="bm-pd-md">
            {% include 'mobile-navbar.html' %}
            <div class="ud-pd-sm"><span class="text-muted">共 {{ total }} 个课程（当前第 {{ course.number }} 页）</span></div>
            <div class="ud-pd-lg">
                <table class="table table-hover shadow-card">
                  <tbody>
                    <tr style="background-color: whitesmoke">
                        <td><strong>Code</strong></td>
                        <td><strong>名称</strong></td>
                        <td><strong>学分</strong></td>
                        <td><strong>老师</strong></td>
                        <td><strong>评分</strong></td>
                        <td><strong>关注</strong></td>
                        <td><strong>时间</strong></td>
                    </tr>
                  {% for rate in course %}
                      <tr class="ud-mg-sm">
                        <td><a href={% url 'mock:view_course' rate.course_id %}>{{ rate.code }}</a></td>
                        <td>{{ rate.name }}</td>
                        <td>{{ rate.credit }}</td>
                        <td>{{ rate.teachers_names_display }}</td>
                        <td>{{ rate.score }}</td>
                        <td>{{ rate.followed }}</td>
                        <td>{{ rate.time }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    <nav>
      <ul class="pagination">
        {% if course.has_previous %}
        <li>
            <a href={% url 'mock:catalog' course.previous_page_number %}>
                <!-- aria-label="Next"-->
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}

        {% for page in course.paginator.page_range %}
            {% if page == reviews.number %}
            <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
            {% elif page %}
            <li><a href={% url 'mock:catalog' page %}>{{ page }}</a></li>
            {% else %}
            <li><a>...</a></li>
            {% endif %}
        {% endfor %}

        {% if course.has_next %}
        <li>
          <a href={% url 'mock:catalog' course.next_page_number %}>
              <!-- aria-label="Next"-->
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}
      </ul>
    </nav>
</div>

{% endblock %}
