{% extends "layout.html" %}
{% block content %}
    {% load extra_filters %}

<div class="container">

  <div class="row float-element">
    <div class="row">
      <div class="col-md-8 inline-h3">
        <span class="blue h3">{{ course.name }}</span><span class="h3 blue mobile">{% if course.teachers %}（{{ course.teacher_names_display }}）{% endif %}</span>

        <span class="small grey align-bottom left-pd-sm desktop">{{ course.term_ids }} &nbsp;课程号：{{ course.code }}</span>
            <!-- { course.term_ids|term_display } -->
        <br><span class="small grey align-bottom mobile">{{ course.term_ids }} &nbsp;课程号：{{ course.code }}</span>
            <!-- { course.term_ids|term_display } -->
        {% if current_user.is_authenticated %}
        <btn class="btn btn-link float-right"><a href="https://www.baidu.com">编辑课程信息</a></btn>
            <!-- url_for('course.edit_course', course_id=course.id) -->
        {% endif %}
        <hr>
        {% if course.review_count %}
        <div style="display:inline-block" class="ud-pd-sm blue">
        <!-- wdnmd django template 不支持运算 widthratio出来数据类型还不是int-->
        {% for star in range_list %}
            {% widthratio course.rate.average_rate 1 2 as course_star %}
          {% widthratio star 1 4 as result_rate1 %}
          {% widthratio star 1 4 as result_rate2 %}
          {% if course_star|add:0 >= result_rate1|add:3 %}
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          {% elif course_star|add:0  >= result_rate2|add:1 %}
          <span class="glyphicon glyphicon-star-half" aria-hidden="true"></span>
          {% else %}
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          {% endif %}
        {% endfor %}
        <span class="rl-pd-sm h4">{{ course.rate.average_rate }}</span><span class="text-muted px12">({{ course.review_count }} 人评价)</span>
      </div>
        {% else %}
        <div style="display:inline-block" class="ud-pd-sm blue">
          {% for star in range_list %}
            <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          {% endfor %}
          <span class="rl-pd-sm h4"><span class="text-muted px12">(暂无评价)</span>
        </div>
        {% endif %}
        &nbsp;&nbsp;&nbsp;
        <ul style="display:inline-block" class="list-inline list-unstyled text-muted">
          {% if course.rate.difficulty != '' %}
              <li class="right-mg-md">课程难度: {{ course.rate.difficulty }}</li>
          {% else %}
              <li class="right-mg-md">课程难度: {{ '你猜' }}</li>
          {% endif %}
          {% if course.rate.homework != '' %}
              <li class="right-mg-md">作业多少: {{ course.rate.homework }}</li>
          {% else %}
              <li class="right-mg-md">作业多少: {{ '你猜' }}</li>
          {% endif %}
          {% if course.rate.grading != '' %}
              <li class="right-mg-md">给分好坏: {{ course.rate.grading }}</li>
          {% else %}
              <li class="right-mg-md">给分好坏: {{ '你猜' }}</li>
          {% endif %}
          {% if course.rate.gain != '' %}
              <li class="right-mg-md">收获大小: {{ course.rate.gain }}</li>
          {% else %}
              <li class="right-mg-md">收获大小: {{ '你猜' }}</li>
          {% endif %}
        </ul>
        <table class="table table-condensed no-border">
        <tbody>
          <tr>
              {% if course.rate.grading != '' %}
              <td><strong>课程类别：</strong>{{ course.course_type }}</td>
              {% else %}
                  <td><strong>课程类别：</strong>{{ '未知' }}</td>
              {% endif %}
              {% if course.rate.grading != '' %}
              <td><strong>开课单位：</strong>{{ course.dept }}</td>
              {% else %}
                  <td><strong>开课单位：</strong>{{ '未知' }}</td>
              {% endif %}
          </tr>
           <tr>
               <td>
               {% if course.homepage and course.homepage != 'http://' %}
                  <strong>课程主页</strong>：<a href="{{ course.homepage }}">{{ course.homepage }}</a>
                  {% else %}
                  <strong>课程主页</strong>：暂无（如果你知道，劳烦告诉我们！）
                  {% endif %}
                </td>
              {% if course.rate.grading != '' %}
              <td><strong>学分：</strong>{{ course.credit }}</td>
              {% else %}
                  <td><strong>学分：</strong>{{ '未知' }}</td>
              {% endif %}
               <td>
               {% if course.homepage and course.homepage != 'http://' %}
                  <strong>课程主页</strong>：<a href="{{ course.homepage }}">{{ course.homepage }}</a>
                  {% else %}
                  <strong>课程主页</strong>：暂无（如果你知道，劳烦告诉我们！）
                  {% endif %}
                </td>
           </tr>
          </tbody>
        </table>

        <div>
          <tbody>
            <tr>
                {% if True %}
                  <td><strong>相似课程：</strong>2019春(5)、2018秋(4) ???</td>
                {% endif %}
            </tr>
          </tbody>
        </div>

        <div class="ud-pd-sm">

        </div>
        <div id="action-btn-group" class="ud-pd-md">
          <button class="btn btn-white btn-flat btn-follow btn-do"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> 关注 <small>(<span class="count"></span>)</small></button>
          <button class="btn btn-blue btn-flat btn-follow btn-undo"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 已关注 <small>(<span class="count"></span>)</small></button>

          <button class="btn btn-white btn-flat btn-upvote btn-do"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 推荐 <small>(<span class="count"></span>)</small></button>
          <button class="btn btn-blue btn-flat btn-upvote btn-undo"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 已推荐 <small>(<span class="count"></span>)</small></button>

          <button class="btn btn-white btn-flat btn-downvote btn-do"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 不推荐 <small>(<span class="count"></span>)</small></button>
          <button class="btn btn-blue btn-flat btn-downvote btn-undo"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 取消不推荐 <small>(<span class="count"></span>)</small></button>

          {% if current_user.is_student %}
          <button class="btn btn-white btn-flat btn-join btn-do"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 学过 <small></small></button>
          <button class="btn btn-blue btn-flat btn-join btn-undo"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 学过 <small></small></button>
          {% endif %}
        </div>

	{% if course.introduction %}
	<div class="ud-pd-md">
	  <div class="solid ud-pd-sm inline-h3">
            <span class="blue h3">简介</span>
	  </div>
          <div>
	        {{ course.introduction|safe }}
              <!-- { course.introduction|safe } -->
          </div>
          <p class="text-muted pull-right small">
             {% if user.is_authenticated %}
             <span class="glyphicon glyphicon-pencil grey left-pd-sm" aria-hidden="true" ></span>
             <a href="https://www.baidu.com">编辑课程简介</a>
                 <!-- url_for('course.edit_course', course_id=course.id) -->
             {% endif %}
          </p>
	</div>
	{% endif %}

	<div class="solid ud-pd-md inline-h3">
          <span class="blue h3">点评</span>
          {% if current_user.is_authenticated %}
          <a type="button" class="btn btn-white float-right blue" href={% url "mock:course_new_review" course.id %} >
            <!-- url_for('course.new_review',course_id=course.id) -->
            <span class="glyphicon glyphicon-pencil glyphicon-sm right-pd-sm" aria-hidden="true" ></span>
            {% if not course.reviewed %}写点评{% else %}编辑点评{% endif %}
          </a>
          {% else %}
          <a type="button" data-toggle="modal" data-target="#signin" class="btn btn-white float-right blue"><span class="glyphicon glyphicon-pencil glyphicon-sm right-pd-sm" aria-hidden="true"></span>写点评</a>
          {% endif %}
        </div>


        {% if course.review_count == 0 %}
        <div class="tips">
          <p>还没有评论耶！放着我来！</p>
        </div>
        <div class="ud-pd-md"></div>
        {% else %}
      {% for review in course.reviews %}
	  {% if not review.is_hidden or current_user.is_admin or review.author == current_user %}
        <div class="ud-pd-md dashed review" id="review-{{review.id}}">
          <div class="blue ud-pd-sm">
            <span class="right-pd-sm px16">
              <a href="{% url 'mock:user_view_profile' review.author.id %}">{{ review.author.username }}</a>
                <!-- url_for('user.view_profile', user_id=review.author.id) -->
            </span>

            {% for star in range_list %}
                {% widthratio review.rate 1 2 as course_star %}
              {% widthratio star 1 4 as result_rate1 %}
              {% widthratio star 1 4 as result_rate2 %}
              {% if course_star|add:0 >= result_rate1|add:3 %}
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              {% elif course_star|add:0  >= result_rate2|add:1 %}
              <span class="glyphicon glyphicon-star-half" aria-hidden="true"></span>
              {% else %}
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              {% endif %}
            {% endfor %}

            <span class="left-pd-md">{{ review.term }}</span>
                <!-- { review.term|term_display } -->
          </div>
          {% include 'review-hidden.html' %}
          <div>
            <p>{{ review.content|safe }}</p>
              <!-- { review.content|my_urlize(nofollow=true)|safe } -->
          </div>

          <div class="bm-pd-md grey" id="review-{{ review.id }}">
            <span class="small">{{ review.publish_time }}</span>
                <!-- { review.publish_time|localtime } -->
          {% check_is_upvoted review.is_upvoted 'cancel_' '' as result1 %}
            <a class="nounderline" href="javascript: {{ result1 }}upvote_review({{ review.id }})">
                <!-- todo:review.is_upvoted() in USTC/models/review.py -- line:105 -->
                <!--  <a class="nounderline" href="javascript: { 'cancel_' if review.is_upvoted() }}upvote_review({ review.id }})"> -->
                {% check_is_upvoted review.is_upvoted 'blue' 'grey' as result2 %}
                <span class="glyphicon glyphicon-thumbs-up left-pd-lg {{ result2 }}" aria-hidden="true" ></span>
                <!-- class="glyphicon glyphicon-thumbs-up { 'blue' if review.is_upvoted() else 'grey' }} left-pd-lg"-->
                <span id="review-upvote-count-{{review.id}}">{{ review.upvote_count }}</span>
            </a>
            <span class="pull-right">
              {% if user.is_admin %}
              <a class="nounderline" href="javascript: delete_review({{ review.id }})">
                <span class="glyphicon glyphicon-trash grey left-pd-md small" aria-hidden="true"></span>
                删除
              </a>
              {% endif %}
              {% if user.is_admin %}
              <span class="glyphicon glyphicon-ban-circle grey left-pd-md" aria-hidden="true"></span>
                {% if review.is_hidden %}
                <a href="javascript: unhide_review({{review.id}});">解除屏蔽</a>
                {% else %}
                <a href="javascript: hide_review({{review.id}});">屏蔽</a>
                {% endif %}
              {% endif %}
            </span>
          </div>

          {% include 'review-comments.html' %}
        </div>
	  {% endif %}
        {% endfor %}
        {% endif %}
      </div>



      <!-- 右边栏 -->

      <div class="col-md-4 rl-pd-lg">
        {% for teacher in course.teachers %}
        <div class="ud-pd-md dashed">
          <img class="avatar-lg cicle" src="{{ teacher.image }}"/>
          {% if current_user.is_authenticated %}
          <btn class="btn btn-link float-right"><a href="https://www.baidu.com">编辑教师信息</a></btn>
              <!-- url_for('teacher.edit_profile', teacher_id=teacher.id) -->
          {% endif %}
          <h3 class="blue"><a href={% url 'mock:view_teacher_profile' teacher.id %}>{{ teacher.name }}</a></h3>
            <!-- url_for('teacher.view_profile', teacher_id=teacher.id) -->
          <p>{{ teacher.dept.name }}</p>
          <p>教师主页：
            {% if teacher.homepage and teacher.homepage != 'http://' %}
            <a href="{{ teacher.homepage }}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> 戳这里</a>
            {% else %}暂无{% endif %}
          </p>
          <div class="ud-pd-md" style="display: none"></div>
        </div>
        {% endfor %}
        {% if course.teachers_count == 0 %}
        <div class="ud-pd-md dashed">
          <img class="avatar-lg cicle" src="/static/bootstrap/image/test.jpg"/>
          <h3 class="blue">莫得老师</h3>
        </div>
        {% endif %}

        <div class="ud-pd-md">
        </div>

        {% for teacher in course.teachers %}
        <div class="ud-pd-md dashed">
          <h5 class="blue">{{ teacher.name }}老师的其他课</h5>
          {% for rel_course in course.same_teacher_courses %}
          {% if rel_course != course %}
          <div class="ud-pd-sm">
            <a href={% url 'mock:view_course' rel_course.id %}>{{ rel_course.name }}</a>
                <!-- url_for('course.view_course', course_id=rel_course.id) -->
            {% if rel_course.review_count %}
            <span>{{ rel_course.course_rate.average_rate }}</span>
            <span class="grey">({{ rel_course.review_count }})</span>
            {% endif %}
            <span class="small grey align-bottom  float-right">{{ rel_course.term_ids }}</span>
              <!-- { rel_course.term_ids|term_display_short } -->
          </div>
          {% endif %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div> <!-- row -->
  </div>  <!-- float-element  -->
</div>  <!-- container -->
{% endblock %}

{% block script %}
<script>
 $('#myTab a').click(function (e) {
   e.preventDefault()
   $(this).tab('show')
 })

 let action_data = {
     {% check_empty course.following as result1 %}
     {% check_empty course.downvoted as result2 %}
     {% check_empty course.upvoted as result3 %}
     {% check_count course.follow_count as count1 %}
     {% check_count course.downvote_count as count2 %}
     {% check_count course.upvote_count as count3 %}
   'follow': {
     'enabled': {{ result1 }},
     'count': {{ count1 }},
     'do_url': "{% url 'mock:api_follow' course.id %}",
     'undo_url': "{% url 'mock:api_unfollow' course.id %}",
   },
   'downvote': {
     'enabled': {{ result2 }},
     'count': {{ count2 }},
     'do_url': "{% url 'mock:api_downvote' course.id %}",
     'undo_url': "{% url 'mock:api_undo_downvote' course.id %}",
     'conflict': 'upvote',
   },
   'upvote': {
     'enabled': {{ result3 }},
     'count': {{ count3 }},
     'do_url': "{% url 'mock:api_upvote' course.id %}",
     'undo_url': "{% url 'mock:api_undo_upvote' course.id %}",
     'conflict': 'downvote',
   },
 }
 // created ():
 $(function() {
   for (action in action_data) {

     if (! $('.btn-' + action).length)
       continue;

     (function(action) {
       var d = action_data[action];

       var do_btn = $('.btn-' + action).filter('.btn-do');
       var undo_btn = $('.btn-' + action).filter('.btn-undo');

       function update_count(count) {
         d.count = count;
         $('.btn-' + action + ' .count').text(count);
       }
       function http_post_wrapper(url) {
         $.post(url, null, function(o) {
           if (o.count)
             update_count(o.count);
           if (!o.ok)
             alert('Operation failed, please try again later!');
         }, 'json');
       }

       do_btn.click(function() {
         {% if user.is_authenticated %}
         if (d.enabled)
           return;
         do_btn.hide();
         undo_btn.show();
         d.enabled = true;
         update_count(d.count + 1);
         if (d.conflict && action_data[d.conflict].enabled) {
           $('.btn-' + d.conflict).filter('.btn-undo').click();
         }
         http_post_wrapper(d.do_url);
         {% else %}
         $('#signin').modal('show');
         {% endif %}
       });

       undo_btn.click(function() {
         {% if user.is_authenticated %}
         if (!d.enabled)
           return;
         undo_btn.hide();
         do_btn.show();
         d.enabled = false;
         update_count(d.count - 1);
         http_post_wrapper(d.undo_url);
         {% else %}
         $('#signin').modal('show');
         {% endif %}
       });

       update_count(d.count);

       if (d.enabled) {
         undo_btn.show();
         do_btn.hide();
       } else {
         do_btn.show();
         undo_btn.hide();
       }
     })(action);
   }
   $('#action-btn-group').show();
 });

 function upvote_review(review_id)
 {
     elem = $('#review-upvote-count-' + review_id);
     //elem.text(parseInt(elem.text()) + 1);
     $.post("{%  url 'mock:api_review_upvote' %}", { review_id: review_id, csrfmiddlewaretoken:'{{ csrf_token  }}' }, function(o) {
       if (typeof o.count != "undefined") {
         elem.text(o.count);
         elem.parent().attr('href', 'javascript:cancel_upvote_review("' + review_id + '")');
         elem.parent().find('span.glyphicon').removeClass('grey');
         elem.parent().find('span.glyphicon').addClass('blue');
       }
     }, 'json');
 }

 function cancel_upvote_review(review_id)
 {
     elem = $('#review-upvote-count-' + review_id);
     //elem.text(parseInt(elem.text()) - 1);
     $.post("{%  url 'mock:api_review_cancel_upvote' %}", { review_id: review_id, csrfmiddlewaretoken:'{{ csrf_token  }}' }, function(o) {
       if (typeof o.count != "undefined") {
         elem.text(o.count);
         elem.parent().attr('href', 'javascript:upvote_review("' + review_id + '")');
         elem.parent().find('span.glyphicon').removeClass('blue');
         elem.parent().find('span.glyphicon').addClass('grey');
       }
     }, 'json');
 }

 function hide_review(review_id)
 {
     $.post("{% url 'mock:api_hide_review' %}", { review_id: review_id, csrfmiddlewaretoken:'{{ csrf_token  }}' },
         function(o) {
            if (o.ok) {
               alert('屏蔽成功，请刷新页面');
            } else {
               alert(o.message);
            }
     }, 'json');
 }

 function unhide_review(review_id)
 {
     $.post("{% url 'mock:api_unhide_review' %}", { review_id: review_id, csrfmiddlewaretoken:'{{ csrf_token  }}' },
         function(o) {
            if (o.ok) {
               alert('解除屏蔽成功，请刷新页面');
            } else {
               alert(o.message);
            }
     }, 'json');
 }

 function delete_comment(review_id, comment_id)
 {
     if (!confirm('你真的要删除此评论吗？')) {
         return;
     }
     $.post("{% url 'mock:api_delete_comment' %}", { comment_id: comment_id, csrfmiddlewaretoken:'{{ csrf_token  }}' },
         function(o) {
            if (o.ok) {
               reload_comments(review_id);
            } else {
               alert(o.message);
            }
     }, 'json');
 }

 function reload_comments(review_id)
 {
             $.get("{% url 'mock:api_show_comment' %}",
                { review_id: review_id},
                function(html) {
                    $('#review-' + review_id + '-comments').replaceWith(html);
                    $('#review-' + review_id + '-comments').show();
             }, 'html');
 }
</script>
{% endblock %}
