{% extends "layout.html" %}
{% block content %}
<div class="container">

  <div class="row float-element">
    {% include "mobile-navbar.html" %}
    {# include "course-filter.html" #}

    <div class="row">
      <div class="col-lg-12">
        <div class="ud-pd-sm"><span class="text-muted">共 {{ total }} 门课（当前第 {{ courses.number }} 页）</span></div>
        {% include "course-list.html" %}
    <nav>
      <ul class="pagination">
        {% if courses.has_previous %}
        <li>
            <a href={% url 'mock:course_popular' courses.previous_page_number %}>
                <!-- aria-label="Next"-->
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}

        {% for page in courses.paginator.page_range %}
            {% if page == reviews.number %}
            <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
            {% elif page %}
            <li><a href={% url 'mock:course_popular' page %}>{{ page }}</a></li>
            {% else %}
            <li><a>...</a></li>
            {% endif %}
        {% endfor %}

        {% if courses.has_next %}
        <li>
          <a href={% url 'mock:course_popular' courses.next_page_number %}>
              <!-- aria-label="Next"-->
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}
      </ul>
    </nav>

      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
  </div><!-- /.float-element -->
</div><!-- /.container -->
{% endblock %}
