{% extends "layout.html" %}
{% block content %}
    {% load extra_filters %}
<div class="container">
  <div class="row float-element">
    <div class="inline-h3">
    <span class="blue h4">点评 &bull; <a href={% url 'mock:view_course' course.id %}>{{ course.name }}{% if course.teachers %}（{{ course.teacher_names_display }}）{% endif %}</a></span>
        <!-- url_for('course.view_course', course_id=course.id) -->
    <span class="align-bottom left-pd-sm desktop">学期：{{ review.term }} &nbsp;课程号：{{ course.code }}</span>
        <!-- { review.term|term_display } -->
    <br><span class="align-bottom mobile">学期：{{ review.term }} &nbsp;课程号：{{ course.code }}</span>
        <!-- { review.term|term_display } -->
    </div>
    <hr>
    {% if message != '' %}
    <div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ message }}</div>
    {% endif %}
    <form id="review-form" class="form-horizontal" action="javascript: submit_data()" method="post">
      {% csrf_token %}
      <div class="rate-part ud-pd-md">
        <div class="ud-pd-sm">
          <span class="right-pd-sm weight-heavy">学　　期</span>

          <select style="border-radius: 6px; padding: 8px; font-size: 15px" name="term">
            {% for term in course.term_ids %}
                {% check_new_review term review.term course.term_ids course.joined_term as result_comparison%}
              <option value="{{ term }}" {% if result_comparison %} selected="selected"{% endif %}>{{ term }}
                <!-- { term|term_display } -->
              {% if joined_term == term %}(学过){% endif %}
              </option>
            {% endfor %}
          </select>
          <span class="clearfix"></span>
        </div>

        {% for poll in polls %}
        <div class="ud-pd-sm">
          <span class="right-pd-sm weight-heavy">{{ poll.display }}</span>
          <div class="btn-group btn-group-inv" data-toggle="buttons">
            {% for option in poll.options  %}
            <label class="btn btn-flat btn-grey rl-mg-sm {% if review.poll.name == loop.index %}active{% endif %}">
                <input type="radio" name="{{ poll.name }}" autocomplete="off" value="{{ option }}" {% if review.poll.name == loop.index %}checked{% endif %}>
                {{ option }}
            </label>
            {% endfor %}
          </div>
        </div>
        {% endfor %}



        <div class="ud-pd-sm">
          <span class="right-pd-sm weight-heavy">评个分吧</span>
          {% count_rate review.rate as result_rate %}
          <select style="border-radius: 6px; padding: 8px; font-size: 15px" name="score">
            {% for score in range_list %}
                <option value="{{ score }}">{{ score }}</option>
            {% endfor %}
          </select>



          <span class="clearfix"></span>
        </div>
      </div>



      <div class="container-md desktop">
        <h4 class="grey">说几句吧！</h4>
        <div class="ud-pd-sm">
          <textarea style="border-radius: 10px; padding: 15px; width: 80%; height: 150px; font-size: 20px" id="content-editor" name="content">{% if review.content %}{{ review.content|safe }}{% endif %}</textarea>
            <!-- { review.content|safe } -->
        </div>
        <button type="submit" class="btn btn-blue btn-flat float-right shadow">发布</button>
        <div class="ud-pd-lg"></div>
      </div>

      <div class="container mobile">
        <h4 class="grey">说几句吧！</h4>
        <div class="ud-pd-sm">
          <input type="hidden" name="is_mobile" value="1">
          <textarea type="text" class="form-control" rows="8" name="content">{% if review.content %}{{ review.content_text }}{% endif %}</textarea>
        </div>
        <button type="submit" class="btn btn-blue float-right">发布</button>
        <div class="ud-pd-lg"></div>
      </div>


    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
let result = {
            'course_id': '{{ course.id }}',
        }

$(function(){
    // remove desktop/mobile-only elements to avoid name conflicts
    if ($('.desktop').css('display') === 'none') {
        $('.desktop').remove();
    }
    if ($('.mobile').css('display') === 'none') {
        $('.mobile').remove();
    }

    $('#review-form').submit(function(e) {

            if ($('select[name=term]').val()) {
                result.semester_season = $('select[name=term]').val()
            } else {
                e.preventDefault();
                alert('请选择学期！');
            }
            if ($('input[name=difficulty]:radio:checked').length === 0) {
                e.preventDefault();
                alert('请选择课程难度！');
                return;
            } else {
                result.difficulty = $('input[name=difficulty]:radio:checked').val()
            }
            if ($('input[name=homework]:radio:checked').length === 0) {
                e.preventDefault();
                alert('请选择作业多少！');
                return;
            } else {
                result.workload = $('input[name=homework]:radio:checked').val()
            }
            if ($('input[name=grading]:radio:checked').length === 0) {
                e.preventDefault();
                alert('请选择给分好坏！');
                return;
            } else {
                result.grading = $('input[name=grading]:radio:checked').val()
            }
            if ($('input[name=gain]:radio:checked').length === 0) {
                e.preventDefault();
                alert('请选择收获多少！');
                return;
            } else {
                result.gaining = $('input[name=gain]:radio:checked').val()
            }
            if ($('select[name=score]').val() <= 0 || $('select[name=score]').val() > 10) {
                e.preventDefault();
                alert('请评分！');
                return;
            } else {
                result.rating = $('select[name=score]').val()
            }
            if ($('textarea[name=content]').val().trim().length < 10) {
                e.preventDefault();
                alert('点评内容太短啦！');
                return;
            } else {
                result.content = $('textarea[name=content]').val()
            }

            /*
            // mobile device: to HTML
            if ($('.mobile').length > 0) {
                var content = $('textarea[name=content]').val();
                var lines = content.split('\n');
                var newcontent = '';
                for (var i in lines) {
                    var line = lines[i];
                    if (line.trim().length == 0)
                        continue;
                    else {
                        line = line.replace(/ /g, "&nbsp;");
                        newcontent += '<p>' + line + '</p>\n';
                    }
                }
                console.log(newcontent);
                $('textarea[name=content]').val(newcontent);
            }
            */

    });
});

function submit_data () {
    $.post("{%  url 'mock:api_submit_review' %}", { content: result.content, course_id: result.course_id, semester_year: '{{ semester_year }}', semester_season: result.semester_season, difficulty: result.difficulty, workload: result.workload, grading: result.grading, gaining: result.gaining ,csrfmiddlewaretoken:'{{ csrf_token }}' }, 'json')
        .then( response => {
                    if (response.res === 'rejected') {
                        alert('请规范评论内容!')
                    } else if (response.res === 'processed') {
                        alert('提交成功!')
                    }
                    window.location.href = '{% url 'mock:view_course' course.id %}'
            })
        .catch(e => console.log(e.status))
    }
</script>
{% endblock %}
